<div [@routerTransition]>
    <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">

            <form role="form">
                <fieldset class="form-group">
                    <label>Nom</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>
                <fieldset class="form-group">
                    <label>prenom</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>
                <fieldset class="form-group">
                    <label>email</label>
                    <input class="form-control" type="email" placeholder="Enter text">
                </fieldset>


                <div class="form-group">
                    <label for="disabledSelect">Disabled select menu</label>
                    <select id="disabledSelect" class="form-control">
                            <option>Disabled select</option>
                        </select>
                </div>






                <button type="submit" class="btn btn-lg btn-primary">Ajouter</button>


            </form>

        </div>
        <div class="col-lg-6">

            <form role="form">
                <fieldset class="form-group">
                    <label>Age</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>
                <button type="submit" class="btn btn-lg btn-success">Ajouter Un enfant</button>


            </form>

        </div>
    </div>
    <!-- /.row -->
</div>